body{
    background-color:cadetblue;
}
#h1{
    font-family: cursive;
    color: tomato;
}
#h2{
    font-family: sans-serif;
    color: black;
}
#h3{
    font-family: fantasy;
    color: black;
}